body {
  background-color: #ededed;
}

b {
  color: #ba1f31;
  font-weight: bold;
}

a {
  color: #ba1f31;
}

section {
  padding: 30px;
  flex-grow: 1;
  background-color: rgb(202, 202, 202);
}

#users {
  background-color: rgb(202, 202, 202);
}

#usersList {
  display: flex;
  flex-wrap: wrap;
}

.user {
  margin: 15px;
  padding: 15px;
  background-color: #ededed;
  display: flex;
  width: 40%;
  flex-grow: 1;
}
.ArticleItem,
.CommentItem {
  margin: 10px;
  padding: 10px;
  background-color: #ededed;
  display: flex;
}

.text-content {
  padding-left: 20px;
}

section {
  padding: 3%;
}

img {
  margin: 5px;
  width: 40px;
  height: 40px;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 5px;
  padding: 0px;
}

button {
  border: 0;
  background: transparent;
  color: #ba1f31;
  font-weight: bold;
}

@media (min-width: 777px) {
  img {
    margin: 5px;
    width: 80px;
    height: 80px;
  }
  section {
    padding-left: 220px;
  }
}
