body {
  background-color: #ededed;
}

b {
  color: #ba1f31;
  font-weight: bold;
}

a {
  color: #ba1f31;
}

section {
  padding: 30px;
  flex-grow: 1;
  background-color: #ededed;
}

#usersList {
  display: flex;
  flex-wrap: wrap;
}

.user {
  margin: 15px;
  padding: 15px;
  display: flex;
  width: 40%;
  flex-grow: 1;
}
.ArticleItem,
.CommentItem {
  margin: 10px;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 1fr 5fr;
}

section {
  padding: 3%;
}

img {
  margin: 5px;
  width: 40px;
  height: 40px;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 5px;
  padding: 0px;
}

button {
  border: 0;
  background: transparent;
  color: #ba1f31;
  font-weight: bold;
}

.comment-form {
  padding-left: 5px;
  padding-top: 20px;
}

.new-article-label {
  margin: 30px;
}

@media (min-width: 760px) {
  img {
    margin: 5px;
    width: 80px;
    height: 80px;
  }
  section {
    padding-left: 220px;
  }
}
