header {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #202829;
  border-bottom: 4px solid grey;
  color: white;
  font-weight: bold;
}

nav {
  padding-top: 10px;
  color: #ba1f31;
  text-decoration: none;
  font-weight: bold;
}

header a,
.sidebar a {
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  grid-row: 1 / span 2;
}

h3 {
  margin-top: 0;
  padding-top: 0;
}

.sidebar {
  color: white;
  border-bottom: 4px solid grey;
  background-color: #202829;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-weight: bold;
}

@media (min-width: 777px) {
  .sidebar {
    border-right: 4px solid grey;
    display: block;
    width: 10em;
  }
}
