body {
  background-color: rgb(219, 218, 218);
}

.App {
  text-align: center;
}

header {
  display: flex;
  border-bottom: 2px solid black;
}

h1,
nav,
#articlelist {
  flex-grow: 1;
  border: 2px solid black;
}

#Home {
  display: flex;
}

#sidebar {
  width: 20%;
}
