body {
  background-color: rgb(219, 218, 218);
}

header {
  text-align: center;
  display: flex;
  border-bottom: 2px solid black;
}

h1,
nav {
  flex-grow: 1;
}

section {
  padding: 30px;
  flex-grow: 1;
  background-color: rgb(235, 235, 235);
}

#Home,
#Topic {
  display: flex;
}

#sidebar {
  width: 20%;
  border-right: 2px solid black;
}
